*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar{
    display:flex;
    align-items: center;
    padding:20px;
}
nav{
    flex:1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right:20px;
}
a{
    text-decoration: none;
    color:black;
}
p{
    color: black;
}
.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display:flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display:inline-block;
    background:rgb(18, 18, 151);
    color: white;
    padding: 8px 30px;
    margin:30px 0;
    border-radius:30px;
    transition: background 0.5s;
}
.btn:hover{
    background: rgb(92, 38, 241);
}
.header{
    background:rgb(202, 198, 252);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin:70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    max-width: 100%;
    padding:20px;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding:10px;
    min-width:200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width:100%;
}
.title{
    text-align:center;
    margin:0 auto 80px;
    position:relative;
    line-height: 60px;
    color: black;
}
.title::after{
    content:"";
    background: rgb(92, 38, 241);
    width:80px;
    height: 5px;
    border-radius:5px;
    position:absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
}
h4{
    color:black;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color:rgb(92, 38, 241);
}
.col-4:hover{
    transform: translateY(-5px);
}

/*--offer--*/
.offer{
    background:rgb(202, 198, 252);
    margin-top: 80px;
    padding:30px 0;
}
.col-2 .offer-img{
    padding:50px;
}
small{
    color:black;
}
/*ratings and feedback from customers*/

.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding:40px 20px;
    box-shadow: 0 0 20px 0px rgb(202, 198, 252);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 200px;
    margin-top:20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform:translateY(-10px);
}
/*bottom desgins*/
.bottom{
    background:black;
    color:white;
    font-size: 14px;
    padding:60px 0 20px;
}
.bottom p{
    color: white;
}
.bottom h3{
    color: cornflowerblue;
    margin-bottom: 20px;
}
.bottom-col-1, .bottom-col-2, .bottom-col-3, .bottom-col-4{
    min-width:250px;
    margin-bottom: 20px;
}
.bottom-col-1{
    flex-basis:30%;
}
.bottom-col-2{
    flex:1;
    text-align:center;
}
.bottom-col-2 img{
    width:180px;
    margin-bottom:20px;
}
.applogo{
    margin-top: 20px;
}
.applogo img{
    width:140px;
}
.row-2{
    justify-content: space-between;
    margin:100px auto 50px;
}
.pagebtn{
    margin:0 auto 80px;
}
.pagebtn span{
    display: inline-block;
    border: 1px solid black;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor:pointer;
}
.pagebtn span:hover{
    background: cornflowerblue;
    color: white
}
.productinfo h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
}
.productinfo select{
    padding: 10px;
    margin-top: 20px;
}
.productinfo input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
}
.checkout{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart{
    display:flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding:5px;
    color:white;
    background:cornflowerblue;
}
td{
    padding:10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
.total{
    display: flex;
    justify-content: flex-end;
}
.total table{
    border-top: 3px solid cornflowerblue;
    width: 100%;
    max-width: 350px ;
}